---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bourbon/bourbon", "neat/neat";

$uts_main_color: #ffc107;
$uts_background: #fcfcfc;

body {
	font-family: $roboto;
	background: $uts_background;
}

.page {
	@include outer-container;
	background: $uts_background;
	padding: 3em 0 5em;
}

.uts_main_content {
	@include row();
}

.uts_left_panel {
	@include media(769px) {
		@include span-columns(7);
	}

}

.uts_right_panel {
	@include media(769px) {
		@include span-columns(5);
	}
	border-bottom: 5px solid $uts_main_color;
	padding-top:3em;
}

p.intro {
	margin-top: 1em;
	padding-bottom: 2em;
	font-size:1.2em;
}

p.underconstruction {
	padding: 2em;
	background: $uts_main_color;
	color: #fff;
	margin-bottom: 3em;
	border-left: 5px solid #000;
	@include span-columns(5 of 7);
}

header {
	@include fill-parent();
	p { padding: 0.5em 0; }
}

footer {
	color: #333;

}