---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "materialize/materialize";

body { padding-bottom: 5em; }

header {
	padding: 6em 0 0;
	h3 { font-size: 1em; font-weight: bold; padding: 5em 0 2em; }
}

.on_phone {
	img { width: 32px; }
	font-size: 1.2em;
	padding: 1em 0;
}

.uts_cog {
	margin-left: -0.2em;
	font-size: 3em;
}

.page-title { font-size: 2em; font-weight: 300; }
.page-content { 
	font-size: 1.1em; 
	padding-right: 1em;
	img { width: 100%; }
}

.sidebar_dynamic img { width:100%; }