<div class="on_phone row hide-on-med-and-up black white-text">
<div class="col s9">Unitas Vietnam</div>
<div class="col s3 right-align"><img src="{{ site.url }}/images/uts_icon.svg"></div>
</div>

<h1 class="uts_cog hide-on-small-only">
	<i class="fa fa-cog fa-5x fa-spin"></i> 
</h1>

<p>
	<i class="fa fa-eye fa-3x"></i> <i class="fa fa-plus fa-2x"></i>
	<i class="fa fa-paint-brush fa-3x"></i> <i class="fa fa-plus fa-2x"></i>
	<i class="fa fa-file-text fa-3x"></i> <i class="fa fa-plus fa-2x"></i> 
	<i class="fa fa-desktop fa-3x"></i> <i class="fa fa-plus fa-2x"></i> 
	<i class="fa fa-coffee fa-3x"></i>
</p>
<p>
	<i class="fa fa-cube fa-3x"></i> <i class="fa fa-plus fa-2x"></i> 
	<i class="fa fa-cubes fa-3x"></i> <i class="fa fa-plus fa-2x"></i> 
	<i class="fa fa-truck fa-flip-horizontal fa-3x"></i>
</p>

<p>
	<i class="fa fa-check-square-o fa-3x"></i> <i class="fa fa-plus fa-2x"></i> 
	<i class="fa fa-smile-o fa-3x"></i> 
</p>

<p class="flow-text">Phục vụ in ấn chuyên nghiệp từ 2011.<br>
Dây chuyền hoàn thiện, khép kín.<br>
Quy trình soát lỗi nghiêm ngặt<br>
Hoàn thành nhanh gọn mọi đơn hàng.
</p>