<header>


    <a href="{{ site.url }}/"><img src="{{ site.url }}/images/logo.png" alt="unitas logo"></a>

    <h3>Công ty cổ phần Unitas Việt Nam</h3>
    <p><small>
	<span class="fa-stack fa-lg">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
	</span></small>
     Số 8 ngõ 378/58/5 Thuỵ Khuê, Tây Hồ, HN
    </p>


    <p><small>
	<span class="fa-stack fa-lg">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
	</span></small>
	 MST: 01.05.68.444.5</p>
    <p><small>
	<span class="fa-stack fa-lg">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
	</span></small>
	 hotline: 090 340 4204 / 091 330 1710</p>
    <p><small>
	<span class="fa-stack fa-lg">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
	</span></small>
	 email: {{ site.email }}</p>


</header>
