<header>



    <a href="{{ site.url }}/"><img src="{{ site.url }}/images/logo.png" alt="unitas logo"></a>

    <h3 style="padding:3em 0 2em;">Công ty cổ phần Unitas Việt Nam</h3>
    <p><small>
	<span class="fa-stack fa-lg">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
	</span></small>
     Số 8 ngõ 378/58/5 Thuỵ Khuê, Tây Hồ, HN
    </p>


    <p><small>
	<span class="fa-stack fa-lg">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
	</span></small>
	 MST: 01.05.68.444.5</p>
    <p><small>
	<span class="fa-stack fa-lg">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
	</span></small>
	 hotline: 090 340 4204</p>
    <p><small>
	<span class="fa-stack fa-lg">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
	</span></small>
	 email: vanphong@unitas.vn</p>

	 <hr>

	 {% include uts_footer.html %}



</header>
