---
int_css:
- "css/main.css"

ext_css:
- "http://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,400italic,700italic&subset=latin,vietnamese,latin-ext"
- "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"

js:
- "js/jquery.min.js"
- "js/materialize.min.js"

---

<!DOCTYPE html>
<html>

  {% include base_head.html %}

  <body>

    <div class="container">
    <div class="row">
    	<div class="left_panel col m12 l7">
	    	{{ content }}
	    </div>

	   	<div class="right_panel col s12 m12 l5">
	    	{% include uts_sidebar.html %}
	    </div>


	 </div>

    </div>

    {% include base_foot.html %}

  </body>

</html>
